.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}

.jumbotron .container {
  position: relative;
  top:100px;

}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: black;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;

}

.thumbnail {
  padding:10px;
}
.thumbnail img {
    height:50%;
    width:50%;
}

.bd-pageheader{
  padding:2rem 15px;margin-bottom:1.5rem;color:#cdbfe3;text-align:center;background-color:#563d7c
}

.bd-pageheader .container{
  position:relative
}
.bd-pageheader h1{
  font-size:3rem;font-weight:400;color:#fff
}
.bd-pageheader p{margin-bottom:0;font-size:1.25rem;font-weight:300
}

@media (min-width:576px){
      .bd-pageheader {
        padding-top:4rem;
        padding-bottom:4rem;
        margin-bottom:3rem;
        text-align:left
        }
      .bd-pageheader  .carbonad{margin:2rem 0 0!important
        }
        }
@media (min-width:768px){
    .bd-pageheader h1{
      font-size:4rem
      }.bd-pageheader p{font-size:1.5rem}}

@media (min-width:992px){
  .bd-pageheader h1,
  .bd-pageheader p{
    margin-right:380px
    }
    .bd-pageheader .carbonad{
      position:absolute;top:0;right:.75rem;margin:0!important
      }
      }
      #skippy{display:block;padding:1em;color:#fff;background-color:#563d7c;outline:0}
